<div class="scroll-form row">
  <div class="col-md-6 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="edit ? actualiza() : add()">

          <!-- Nombre -->
          <div class="card-body">
            <input type="text" formControlName="Nombre" [(ngModel)]="artista.Nombre" placeholder="Nombre del Artista:"
              class="form-control" [class.is-invalid]="form.get('Nombre')?.invalid && form.get('Nombre')?.touched"
              [class.is-valid]="form.get('Nombre')?.valid" autofocus>

            <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">El campo <span
                class="alerta">NOMBRE</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Nombre Artistico -->
          <div class="card-body">
            <input type="text" formControlName="NombreArtistico" [(ngModel)]="artista.NombreArtistico"
              placeholder="Nombre Artistico:" class="form-control"
              [class.is-invalid]="form.get('NombreArtistico')?.invalid && form.get('NombreArtistico')?.touched"
              [class.is-valid]="form.get('NombreArtistico')?.valid">

            <span *ngIf="form.get('NombreArtistico')?.hasError('required') && form.get('NombreArtistico')?.touched">El
              campo <span class="alerta">NOMBRE ARTISTICO</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Genero -->
          <div class="card-body">
            <div class="input-group">
              <label class="input-group-text" for="actividad">Genero</label>
              <select formControlName="Genero" [(ngModel)]="artista.Genero" class="form-control" id="actividad"
                [class.is-invalid]="form.get('Genero')?.invalid && form.get('Genero')?.touched"
                [class.is-valid]="form.get('Genero')?.valid">
                <option selected disabled value="">Selecciona un Genero</option>
                <option value="H">Hombre</option>
                <option value="M">Mujer</option>
              </select>
            </div>

            <span *ngIf="form.get('Genero')?.hasError('required') && form.get('Genero')?.touched">El campo <span
                class="alerta">GENERO</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Nacimiento -->
          <div class="card-body">
            <div class="input-group">
              <label for="Nacimiento" class="input-group-text">Fecha de Nacimiento</label>
              <input id="Nacimiento" type="date" [(ngModel)]="artista.FechaNacimiento" formControlName="FechaNacimiento"
                class="form-control"
                [class.is-invalid]="form.get('FechaNacimiento')?.invalid && form.get('FechaNacimiento')?.touched"
                [class.is-valid]="form.get('FechaNacimiento')?.valid" />
            </div>

            <span *ngIf="form.get('FechaNacimiento')?.hasError('required') && form.get('FechaNacimiento')?.touched">El
              campo <span class="alerta">FECHA NACIMIENTO</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Finado -->
          <div class="card-body">
            <div class="input-group">
              <label for="Finado" class="input-group-text">Fecha de Finado</label>
              <input id="Finado" type="date" [(ngModel)]="artista.FechaFinado" formControlName="FechaFinado"
                class="form-control" />
            </div>
          </div>

          <!-- Estatura -->
          <div class="card-body">
            <input type="number" formControlName="Estatura" [(ngModel)]="artista.Estatura" placeholder="Estatura:"
              class="form-control" [class.is-invalid]="form.get('Estatura')?.invalid && form.get('Estatura')?.touched"
              [class.is-valid]="form.get('Estatura')?.valid">

            <span *ngIf="form.get('Estatura')?.hasError('required') && form.get('Estatura')?.touched">El campo <span
                class="alerta">ESTATURA</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Nacionalidad -->
          <div class="card-body">
            <div class="input-group">
              <label class="input-group-text" for="inputGroupSelect02">Nacionalidad</label>
              <select formControlName="idNacionalidad" [(ngModel)]="artista.idNacionalidad" class="form-control"
                id="inputGroupSelect02"
                [class.is-invalid]="form.get('idNacionalidad')?.invalid && form.get('idNacionalidad')?.touched"
                [class.is-valid]="form.get('idNacionalidad')?.valid">
                <option selected disabled value="">Selecciona una Nacionalidad</option>
                <option *ngFor="let pais of Pais" value="{{pais.idPais}}">{{pais.Nombre}}</option>
              </select>
            </div>

            <span *ngIf="form.get('idNacionalidad')?.hasError('required') && form.get('idNacionalidad')?.touched">El
              campo <span class="alerta">NACIONALIDAD</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Instrumentos -->
          <div class="card-body">
            <textarea formControlName="Instrumentos" [(ngModel)]="artista.Instrumentos" placeholder="Instrumentos:"
              rows="2" class="form-control"
              [class.is-invalid]="form.get('Instrumentos')?.invalid && form.get('Instrumentos')?.touched"
              [class.is-valid]="form.get('Instrumentos')?.valid"></textarea>

            <span *ngIf="form.get('Instrumentos')?.hasError('required') && form.get('Instrumentos')?.touched">El campo
              <span class="alerta">INSTRUMENTOS</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Tipo de Voz -->
          <div class="card-body">
            <input type="text" formControlName="TipoVoz" [(ngModel)]="artista.TipoVoz" placeholder="Tipo de Voz:"
              class="form-control" [class.is-invalid]="form.get('TipoVoz')?.invalid && form.get('TipoVoz')?.touched"
              [class.is-valid]="form.get('TipoVoz')?.valid">

            <span *ngIf="form.get('TipoVoz')?.hasError('required') && form.get('TipoVoz')?.touched">El campo <span
                class="alerta">TIPO VOZ</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Foto -->
          <div class="card-body">
            <input type="url" formControlName="Foto" [(ngModel)]="artista.Foto" placeholder="Foto:" class="form-control"
              [class.is-invalid]="form.get('Foto')?.invalid && form.get('Foto')?.touched"
              [class.is-valid]="form.get('Foto')?.valid">

            <span *ngIf="form.get('Foto')?.hasError('required') && form.get('Foto')?.touched">El campo <span
                class="alerta">FOTO</span> es <strong>Requerido</strong></span>
          </div>

          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button [disabled]="form.invalid" type="submit" class="btn btn-success">Aceptar</button>
            <button routerLink="/repertorio/artista" type="button" class="btn btn-primary">Regresar</button>
          </div>
          <!-- <button type="button" class="btn btn-success" (click)="edit ? actualiza() : add()">Aceptar</button>
          <a href="/artista" type="button" class="btn btn-primary">Regresar</a> -->
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 inicio-card">
    <div class="card card-body text-center">
      <img [src]="artista.Foto == '' ? '/assets/noImagen.png' : artista.Foto " class="card-img-top">
      <h3 style="text-transform: uppercase;">
        {{artista.idArtista}} - {{artista.Nombre == '' ? 'Nombre del Artista' : artista.Nombre}}
      </h3>
      <p>{{artista.NombreArtistico == '' ? 'Nombre Artistico' : artista.NombreArtistico}}</p>
      <p>{{artista.Genero == '' ? 'Género' : getNombreGenero(artista.Genero || '')}}</p>
      <p>{{artista.FechaNacimiento == ''? 'Fecha de Nacimiento' : (artista.FechaNacimiento | date: 'dd / MMMM / yyyy')}}
      </p>
      <p>{{artista.FechaFinado == ''? 'Finado' : (artista.FechaFinado | date: 'dd / MMMM / yyyy')}}</p>
      <p>{{artista.Estatura == '' ? 'Estatura' : artista.Estatura + ' m' }}</p>
      <!-- <p>{{artista.idNacionalidad == '' ? 'Pais' : artista.idNacionalidad}}</p> -->
      <p>{{artista.idNacionalidad == '' ? 'Pais' : getNombrePais(artista.idNacionalidad || '')}}</p>
      <p>{{artista.Instrumentos == '' ? 'Instrumentos' : artista.Instrumentos}}</p>
      <p>{{artista.TipoVoz == '' ? 'Tipo de Voz' : artista.TipoVoz}}</p>
    </div>
  </div>
</div>