<section class="vh-100 gradient-custom">
  <div class="container py-4 h-100">
    <div class="row d-flex justify-content-center align-items-center h-100">
      <div class="col-12 col-md-8 col-lg-6 col-xl-5">
        <form [formGroup]="form" (ngSubmit)="validateEmail()">
          <div class="card bg-dark text-white" style="border-radius: 1rem;">
            <div class="card-body text-center">
              <div class="mb-md-5 mt-md-4">
                <h2 class="fw-bold mb-2 text-uppercase">Registrar Usuario</h2>
                <p class="text-white-50 mb-5">¡Por favor, introduce todos los datos solicitados!</p>
                <!-- Nombre -->
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Nombre(s)</label>
                  <input class="form-control form-control-lg" id="Nombre" type="text" formControlName="Nombre"
                    [(ngModel)]="user.Nombre"
                    [class.is-invalid]="form.get('Nombre')?.invalid && form.get('Nombre')?.touched"
                    [class.is-valid]="form.get('Nombre')?.valid && form.get('Nombre')?.touched">

                  <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">El campo <span
                      class="alerta">Nombre</span> es <strong>Requerido</strong></span>
                </div>


                <div class="row">
                  <!-- Paterno -->
                  <div class="col">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">Apellido Paterno</label>
                      <input id="ApellidoPaterno" type="text" formControlName="ApellidoPaterno"
                        [(ngModel)]="user.ApellidoPaterno" class="form-control form-control-lg"
                        [class.is-invalid]="form.get('ApellidoPaterno')?.invalid && form.get('ApellidoPaterno')?.touched"
                        [class.is-valid]="form.get('ApellidoPaterno')?.valid && form.get('ApellidoPaterno')?.touched">

                      <span
                        *ngIf="form.get('ApellidoPaterno')?.hasError('required') && form.get('ApellidoPaterno')?.touched">El
                        campo <span class="alerta">Paterno</span> es <strong>Requerido</strong>
                      </span>
                    </div>
                  </div>


                  <!-- Materno -->
                  <div class="col">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">Apellido Materno</label>
                      <input id="ApellidoMaterno" type="text" formControlName="ApellidoMaterno"
                        [(ngModel)]="user.ApellidoMaterno" class="form-control form-control-lg"
                        [class.is-invalid]="form.get('ApellidoMaterno')?.invalid && form.get('ApellidoMaterno')?.touched"
                        [class.is-valid]="form.get('ApellidoMaterno')?.valid && form.get('ApellidoMaterno')?.touched">

                      <span
                        *ngIf="form.get('ApellidoMaterno')?.hasError('required') && form.get('ApellidoMaterno')?.touched">El
                        campo <span class="alerta">Materno</span> es <strong>Requerido</strong></span>
                    </div>
                  </div>
                </div>

                <!-- Usuario -->
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeEmailX">Usuario</label>
                  <input type="text" id="typeEmailX" class="form-control form-control-lg" formControlName="Usuario"
                    [(ngModel)]="user.Usuario"
                    [class.is-invalid]="form.get('Usuario')?.invalid && form.get('Usuario')?.touched"
                    [class.is-valid]="form.get('Usuario')?.valid" />

                  <span *ngIf="form.get('Usuario')?.hasError('required') && form.get('Usuario')?.touched">El campo <span
                      class="alerta">Usuario</span> es <strong>Requerido</strong></span>
                </div>

                <!-- FechaNacimiento -->
                <div class="form-outline form-white mb-4">
                  <label class="form-label" for="typeDate">Fecha de Nacimiento</label>
                  <input type="date" id="typeDate" class="form-control form-control-lg"
                    formControlName="FechaNacimiento" [(ngModel)]="user.FechaNacimiento"
                    [class.is-invalid]="form.get('FechaNacimiento')?.invalid && form.get('FechaNacimiento')?.touched"
                    [class.is-valid]="form.get('FechaNacimiento')?.valid" />

                  <span
                    *ngIf="form.get('FechaNacimiento')?.hasError('required') && form.get('FechaNacimiento')?.touched">El
                    campo <span class="alerta">FechaNacimiento</span> es <strong>Requerido</strong></span>
                </div>

                <div class="row">
                  <!-- Correo -->
                  <div class="col">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typeEmailX">Email o Correo</label>
                      <input id="Correo" type="text" formControlName="Correo" [(ngModel)]="user.Correo"
                        class="form-control form-control-lg"
                        [class.is-invalid]="form.get('Correo')?.invalid && form.get('Correo')?.touched"
                        [class.is-valid]="form.get('Correo')?.valid && form.get('Correo')?.touched">

                      <span *ngIf="form.get('Correo')?.hasError('required') && form.get('Correo')?.touched">El campo
                        <span class="alerta">Correo</span> es <strong>Requerido</strong></span>
                    </div>
                  </div>

                  <!-- Contraseña -->
                  <div class="col">
                    <div class="form-outline form-white mb-4">
                      <label class="form-label" for="typePasswordX">Contraseña</label>
                      <input class="form-control form-control-lg" [type]="fieldTextType ? 'text' : 'password'"
                        formControlName="Password" [(ngModel)]="user.Password"
                        [class.is-invalid]="form.get('Password')?.invalid && form.get('Password')?.touched"
                        [class.is-valid]="form.get('Password')?.valid" />

                      <span *ngIf="form.get('Password')?.hasError('required') && form.get('Password')?.touched">El campo
                        <span class="alerta">Contraseña</span> es <strong>Requerido</strong></span>
                    </div>
                  </div>
                </div>

                <!-- Ver Contraseña -->
                <div class="card-body">
                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" id="vwPassword" (click)="toggleFieldTextType()">
                    <label class="form-check-label" for="vwPassword">Ver Contraseña</label>
                  </div>
                </div>

                <div class="btn-group" role="group" aria-label="Basic mixed styles example">
                  <button [disabled]="form.invalid" type="submit"
                    class="btn btn-outline-success btn-lg px-5">Aceptar</button>
                  <a class="btn btn-outline-info btn-lg px-5" routerLink="/login">Regresar</a>
                </div>

              </div>
            </div>
          </div>
        </form>
      </div>
    </div>
  </div>
</section>