<footer class="bg-dark text-center text-white">
  <!-- Grid container -->
  <div class="container p-4 pb-0">
    <!-- Section: Social media -->
    <section class="mb-4">
      <!-- Facebook -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.facebook.com/raulgabriel.geronimoherrera/"
        role="button" target="_blank">
        <i class="fab fa-facebook-f"></i>
      </a>

      <!-- Outlook -->
      <a class="btn btn-outline-light btn-floating m-1" href="mailto:rgeronimoh001@outlook.com" role="button"
        target="_blank">
        <i class="fa-solid fa-envelope"></i>
      </a>

      <!-- WhatsApp -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://api.whatsapp.com/send?phone=5528973869"
        role="button" target="_blank">
        <i class="fa-brands fa-whatsapp"></i>
      </a>

      <!-- Instagram -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://www.instagram.com/raul090700/" role="button"
        target="_blank">
        <i class="fab fa-instagram"></i>
      </a>

      <!-- Linkedin -->
      <a class="btn btn-outline-light btn-floating m-1"
        href="https://www.linkedin.com/in/ra%C3%BAl-gabriel-ger%C3%B3nimo-herrera-4abb53263/" role="button"
        target="_blank">
        <i class="fab fa-linkedin-in"></i>
      </a>

      <!-- Github -->
      <a class="btn btn-outline-light btn-floating m-1" href="https://github.com/RaulGeronimo" role="button"
        target="_blank">
        <i class="fab fa-github"></i>
      </a>
    </section>
    <!-- Section: Social media -->
  </div>
  <!-- Grid container -->

  <!-- Copyright -->
  <div class="text-center p-3" style="background-color: rgba(0, 0, 0, 0.2);">
    © 2023 Todos los derechos Reservados:
    <a class="text-white" href="/">Repertorio de Música</a>
  </div>
  <!-- Copyright -->
</footer>
