<div class="scroll-form row">
  <div class="col-md-6 offset-md-2">
    <div class="card">
      <div class="card-body">
        <form [formGroup]="form" (ngSubmit)="edit ? actualiza() : add()">

          <!-- Nombre -->
          <div class="card-body">
            <input type="text" formControlName="Nombre" [(ngModel)]="instrumentos.Nombre" placeholder="Nombre del Pais:"
              class="form-control" autofocus
              [class.is-invalid]="form.get('Nombre')?.invalid && form.get('Nombre')?.touched"
              [class.is-valid]="form.get('Nombre')?.valid">

            <span *ngIf="form.get('Nombre')?.hasError('required') && form.get('Nombre')?.touched">El campo <span
                class="alerta">NOMBRE</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Descripcion -->
          <div class="card-body">
            <textarea formControlName="Descripcion" [(ngModel)]="instrumentos.Descripcion"
              placeholder="Descripcion del Instrumento:" rows="4" class="form-control"
              [class.is-invalid]="form.get('Descripcion')?.invalid && form.get('Descripcion')?.touched"
              [class.is-valid]="form.get('Descripcion')?.valid"></textarea>

            <span *ngIf="form.get('Descripcion')?.hasError('required') && form.get('Descripcion')?.touched">El campo
              <span class="alerta">DESCRIPCION</span> es <strong>Requerido</strong></span>
          </div>

          <!-- Foto -->
          <div class="card-body">
            <input type="url" formControlName="Foto" [(ngModel)]="instrumentos.Foto" placeholder="Foto:"
              class="form-control" [class.is-invalid]="form.get('Foto')?.invalid && form.get('Foto')?.touched"
              [class.is-valid]="form.get('Foto')?.valid">

            <span *ngIf="form.get('Foto')?.hasError('required') && form.get('Foto')?.touched">El campo <span
                class="alerta">FOTO</span> es <strong>Requerido</strong></span>
          </div>

          <div class="btn-group" role="group" aria-label="Basic mixed styles example">
            <button [disabled]="form.invalid" type="submit" class="btn btn-success">Aceptar</button>
            <button routerLink="/repertorio/instrumento" type="button" class="btn btn-primary">Regresar</button>
          </div>
          <!-- <button type="button" class="btn btn-success" (click)="edit ? actualiza() : add()">Aceptar</button>
          <a href="/instrumento" type="button" class="btn btn-primary">Regresar</a> -->
        </form>
      </div>
    </div>
  </div>

  <div class="col-md-4 inicio-card">
    <div class="card card-body text-center">
      <img [src]="instrumentos.Foto == '' ? '/assets/noImagen.png' : instrumentos.Foto " class="card-img-top">
      <h3 style="text-transform: uppercase;">
        {{instrumentos.idInstrumento}} - {{instrumentos.Nombre == '' ? 'Nombre del Instrumento' : instrumentos.Nombre}}
      </h3>
      <p>{{instrumentos.Descripcion == '' ? 'Descripcion' : instrumentos.Descripcion}}</p>
    </div>
  </div>
</div>